.pro-sidebar {
  background: $sidebar-bg-color;
  color: $sidebar-color;
  height: 100%;
  width: $sidebar-width;
  text-align: left;
  transition: width 0.3s;
  position: relative;
  > img.sidebar-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    opacity: 0.3;
    left: 0;
    top: 0;
  }
  > .pro-sidebar-inner {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    display: flex;
    flex-direction: column;

    .pro-sidebar-header {
      height: 60px;
      line-height: 60px;
      border-bottom: 1px solid rgba($sidebar-color, 0.2);
    }
    .pro-sidebar-content {
      flex-grow: 1;
    }
    .pro-sidebar-footer {
      height: 60px;
      line-height: 60px;
      border-top: 1px solid rgba($sidebar-color, 0.2);
    }
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
  }

  &.collapsed {
    width: $sidebar-collapsed-width;
  }

  &.rtl {
    text-align: right;
  }
}
