@import './variables.scss';
@import './partials/animation';
@import './partials/sidebar';
@import './partials/menu';
@import '../../node_modules/react-slidedown/lib/slidedown.css';
@import './partials/popperArrow';

.react-slidedown {
  transition-duration: 0.2s !important;
}
